.icone {
    padding-right: 1.2rem;
    }
    
    .angular {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        fill: #f10909
    }
    
    .js {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        fill: #f0db4f;
    }
    
    .boots {
        padding-left: 0.3rem;
        padding-right: 0.5rem;
        fill: #563d7c;
    }
    