<header class="jumbotron" style="position: relative">
    <section class="text-center">
        <h1 class="display-1"> Bruno Janeiro</h1>
        <h3>Full-Stack Web Developer</h3>
    </section>

    <div style="position: absolute; bottom: 5px; right: 10px">
        <a href="https://www.linkedin.com/in/bjaneiro90" target="_blank">
            <img src="../../assets/linkedIn.png" width="24" height="24" class="rounded-circle me-2" alt="">
            
        </a>
        <a href="https://github.com/bjaneiro90" target="_blank">
            <img src="../../assets/github-mark.png" width="24" height="24" class="rounded-circle me-2"  alt="">
            
        </a>
    </div>
</header>