<section class="card shadow text-center " style="max-width: 350px; min-width: 350px; background-color: #e8eeec;">
    <div class="card-body">
        <h5 class="card-title">{{project.name}}</h5>
        <p class="card-text">{{project.summary}}</p>
        <button class="btn btn-primary" (click)="OpenProjectModal()">View More</button>
    </div>
    <footer class="card-footer bg-white" style="background-color: black;">
        <div class="d-flex flex-wrap justify-content-center">

            <img class="angular" src={{project.tag1}} alt="slide" width="32" height="31">
            <img src={{project.tag2}} alt="slide" width="32" height="30">
            <img class="third" src={{project.tag3}} alt="slide" width="30" height="30">
        </div>
    </footer>
</section>