.icone {
padding-right: 1.2rem;
}

.js {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    fill: #f0db4f;
}

.boots {
    padding-left: 0.3rem;
    padding-right: 0.5rem;
    fill: #563d7c;
}

.btn-primary {
    color: #212529;
    background-color: #a4bec8;
    border-color: #a4bec8
}

.tag {
    padding: 0 20px;
    height: 30px;
    width: fit-content;
    font-size: 14px;
    line-height: 30px;
    border-radius: 25px;
    
}

.angular {
    padding-bottom: 2px;
    padding-top: 2px
}

.third {
    padding-top: 1px;
}
