<nav class="navbar-expand-md border-bottom mb-5" >
    <div class="container">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link text-secondary" routerLink="/home"  routerLinkActive="text-dark">
                    <span class="material-symbols-outlined">home</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" routerLink="/portfolio" routerLinkActive="text-dark">
                    <span class="material-symbols-outlined">work</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" routerLink="/resume" routerLinkActive="text-dark">
                    <span class="material-symbols-outlined">badge</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" routerLink="/contact" routerLinkActive="text-dark">
                    <span class="material-symbols-outlined">alternate_email</span>
                </a>
            </li>
            <li style="position: absolute; right: 10px; padding-top: 7px;">
                <a href="https://www.linkedin.com/in/bjaneiro90" target="_blank">
                    <img src="../../assets/linkedIn.png" width="25" height="25" class="rounded-circle me-2" alt="">
                    
                </a>
                <a href="https://github.com/bjaneiro90" target="_blank">
                    <img src="../../assets/github-mark.png" width="26.5" height="27" class="rounded-circle me-2"  alt="">
                    
                </a>
            </li>
        </ul>
    </div>
        
</nav>
