<nav class="navbar-expand-md border-bottom mb-3">
    <div class="container">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link text-secondary" routerLink="/home"  routerLinkActive="text-dark">
                    <span class="material-symbols-outlined">home</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" routerLink="/portfolio" routerLinkActive="text-dark">
                    <span class="material-symbols-outlined">work</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" routerLink="/resume" routerLinkActive="text-dark">
                    <span class="material-symbols-outlined">badge</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" routerLink="/contact" routerLinkActive="text-dark">
                    <span class="material-symbols-outlined">alternate_email</span>
                </a>
            </li>
        </ul>
    </div>
    
</nav>
