.about_me1 {
    margin-top: 3rem;
    font-style: italic;
    line-height: 32px;
    margin-bottom: 2px;
}

.about_me2 {
    font-style: italic;
    line-height: 32px;
    margin-bottom: 2rem;
}

.profile {
    margin-top: 1rem
}

#summary {
    font-weight: bold;
}